# Ignore compiled binaries
*.exe
*.dll
*.so

# Ignore build artifacts
build/
dist/

# Ignore IDE and editor files
.vscode/
.idea/

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.bak

# Ignore package manager directories
node_modules/
vendor/

# Ignore sensitive or personal information
config.ini
secrets.txt

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore pyc files and coverage reports
*.pyc
*.coverage
htmlcov/

# Ignore maven build directory
target/

# Ignore LaTeX documentation directory and  build
documentation/
outils/outils.aux
outils/outils.log
outils/outils.out
outils/outils.toc
```